html{
    text-align: center;
    color: white;
    font-family: Verdana;
    background-color: black;
}

header h1{
    font-weight: normal;
    font-size: 50px;
}

#guide h2{
    font-weight: 300;
    font-size: 42px;
}

#guide p{
    font-size: 21px;
    color: gray;
}

#guide{
    padding: 20px;
}

footer h1{
    font-weight: normal;
    font-size: 50px;
}

a{
    color: aquamarine;
    font-size: 16px;
}

#copyright{
    text-align: right;
    color: gray;
}